html, body {
	background-image: url(imagenes/bg.png);
	background-size: 100px;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: overlay;
}


#wraper {
	height: 100%;
	width: 100%;
	position: fixed;
}

#box-left {
	margin-left: 4%;
	height: 100%;
	width: 27%;
	float: left;
}

#intro{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#foto {
	width: 13vw;
	border-radius: 50%;
	border-bottom: 0.3vw solid #E33B8D;
	border-right: 0.3vw solid #E33B8D;
}

#nombre {
	background-color: #fff;
	width: 100%;
	border: 0.3vw dotted #FFAAE6;
	border-bottom: 0.3vw solid #E33B8D;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	transform: translate(0px, -1.8vw);
	padding: 0.3vw;
	line-height: 0;
	text-align: center;
}

h1 {
	font-family: Open Sans;
}

#texto {
	max-width: 18vw;
	font-size: 1.6vw;
	width: auto;
	background-color: #fff;
	border: 1px solid #E33B8D;
	font-family: Roboto;
	text-align: justify-all;
	padding: 0px 1.7vw;
}

#redes img{
	margin-right: 0.5vw;
	width: 2vw;
}

#tabs {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 4%;
	float: left;
	overflow: hidden;
}

#tabs img {
	transform: translate(1.5vw, 0px);
	transition: .2s;
	cursor: pointer;
}

#box-right {
	height: 100%;
	width: 65%;
	background-color: #FFAAE6;
	float: left;
	overflow: scroll;
}

#box-right::-webkit-scrollbar{
    display: none;
  }

#info{
	margin-top: 5vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

#info p {
	font-size: 1.6vw;
	font-family: Roboto;
	line-height: 2.5vw;
}

hr.solid {
  border: 2px solid #E33B8D;
  margin: 0vw 0px;
}